@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply underline;
}

@tailwind components;

@tailwind utilities;

/* Modal */
.modal {
  @apply block;
}

.modal__window {
  @apply bg-purple-500 rounded-xl inline-block border-cyan-400 border-2 border-solid fixed overflow-visible left-2/4 top-1/2 z-50 transform -translate-x-1/2 -translate-y-1/2;
}

.modal__mask {
  @apply fixed top-0 left-0 h-full w-full z-40 bg-purple-500 bg-opacity-80;
}

.modal__header {
  @apply h-20 relative rounded-t-xl flex p-4 border-2 border-solid border-cyan-400 border-l-0 border-r-0 border-t-0 overflow-hidden;
}

/* Disabled Inputs */
input:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}